nav {
    /*background-color:#79797c;*/
    height: 50px;
    background-color: rgba(0,0,0,0.4);
}
#banner {
    background-color:rgba(0,0,0,0.4);
    height: 700px ;
    color: #fff;
}
nav ul {
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li , nav .logo{
    display: inline-block;
    line-height: 50px;
    /*float: right;*/
    margin-right: 20px;
}
nav ul li a{
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
}
nav ul nav .logo{
    float: left;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#banner .inner h1{
    margin: 0;
}
button{
    border: none;
    background-color: #333;
    padding: 10px;
    color:#eee;
}

#banner button{
    padding: 15px 40px;
}
#banner .inner .more{
    /*margin-top: 160px;*/
    position: relative;
    top: 100px;
}

.sub-heading{
    line-height: 30px;
    margin: 30px;
}

.logo{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-left: 10px;
}

.logo a{
    color: #fff;
}

header {
    background-image: url('../image/background_star.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.8);
}

.green-section {
    padding: 100px 0;
    text-align: center;
    background-color: steelblue;
    color: #fff;
}

.wapper {
    max-width: 700px;
    margin: 0 auto;
    line-height: 30px;
}

.hr {
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
}

p{
    font-size: 15px;
    letter-spacing: 1px;
}


.green-section .hr {
    background-color: #fff;
    margin: 20px auto;
}

.inner .hr {
    background: #fff;
}

p {
    font-size: 15px;
}

.green-section .icon-group .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color:#75a3bd;
    transform: rotate(45deg);
    margin: 20px;
    padding: 10px;

}

.green-section .icon-group .icon i{
    font-size: 40px;
    transform: rotate(-45deg);
    display: relative;
    text-align: center;
    position: relative;
    top: 10px;
    left: 5px;
    color: #e2eaee;
}

.icon-group {
    margin-top: 80px;
}

.gray-section{
    background: #252f34;
    color:#fff;
}

.gray-section .image-section {
    width: 40%;
}

.image-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 60%;
    
}

.article-preview > div{
    float: left;
}

.article-preview::after{
    content: "";
    display: block;
    clear: both;
}

.text-section{
    position: relative;
    top: 100px;
    left: 60px;
}

.text-section h2{
    margin-bottom: 3px;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}

.text-section h3{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.article-preview{
    font-size: 0px;
}

.text-section > * {
    max-width: 80%;
}

.article-preview:nth-child(odd){
    background: rgb(255,255,255,0.05);
}

.purple-section{
    background-color: #3f3965;
    color: #fff;
    padding: 80px;
}

.heading-wapper{
    text-align: center;
}



.heading-wapper .hr{
    background-color: #373259;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
}

.clear-fix::after{
    content: "";
    display:block;
    clear: both;
}

h3{
    font-size: 25px;
}


.heading-wapper .sub-heading{
    margin-bottom: 0px;
    margin-top: 0px;
}

.card:first-child{
    background: rgb(0,0,0,0.05);
}

.card:nth-child(2){
    background: rgb(0,0,0,0.1);
}

.card:nth-child(3){
    background: rgb(0,0,0,0.15);
}

.card:nth-child(4){
    background: rgb(0,0,0,0.2);
}

.card:nth-child(5){
    background: rgb(0,0,0,0.25);
}

.card:nth-child(6){
    background: rgb(0,0,0,0.3);
}

footer {
    background-color: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
    font-size: 16px;
}

ul.share-group{
    display:block;
    margin: 0,auto;
    width: 100%;
    padding: 50px;
}

.share-group li{
    display: inline-block;
    padding: 30px;
    padding-bottom: 0px;
}

.copy{
    padding-bottom: 20px;
}

li a {
    color: #fff;
}

footer ul {
    font-size: 20px;

}